#board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid lightgray;
}

.grid-item {
    text-align: center;
    border: 1px solid lightgray;
}

#board:hover {
    cursor: pointer;
}